<main>
  <section>
    <img src="<%= @imgSrc %>" alt="">
  </section>
  <section class="info-table">
    <table>
      <% @info.each do |key, value| %>
        <tr>
          <td><%= key %></td>
          <td><%= value %></td>
        </tr>
      <% end %>
      <tr>

      </tr>
    </table>
  </section>
</main>
