<form class="" action="/pokemons" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Species:</label>
  <input type="text" name="species" value="">
  <label for="">Nickname:</label>
  <input type="text" name="nickname" value="">
  <label for="">Level</label>
  <input type="text" name="level" value="">
  <button type="submit" name="button">Add</button>
</form>
